@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Cei 2 fanatici<br />
    Acasa, La Craiova, Dolj, Romania, Europa, Pamant, Sistem solar, Calea Lactee, Univers<br />
    <abbr title="Phone">P:</abbr>
    0770.000.000
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.google.com">Google.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.google.com">Google.com</a>
</address>