@{
    ViewBag.Title = "Home Page";
}

<style>
    .row {
        width: 100%;
        overflow-x: auto;

    }
</style>

<div class="jumbotron">
    <h1>Evidenta Facultatii 51</h1>
    <p class="lead">Cea mai buna facultate pentru fiinte umane. Veniti la noi in Nevada.</p>
    <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
    List<WADLAB4.Models.News> nws = db.Noutati.ToList();
}

<div class="row">
    <h1>News:</h1>
    @{ 
        foreach (var nz in nws)
        {
            <div class="col-md-4">
                <h2>@nz.title</h2>
                <p>
                    @nz.message
                </p>
                <p><a class="btn btn-default" href="@nz.link">Afla mai multe! &raquo;</a></p>
            </div>
        }
    }
</div>
<br /><br />
<h3>Post News: (teacher view)</h3>
<form>
    <label>Title: </label><input type="text" name="titlu"/><br />
    <label>Link: </label><input type="text" name="link" /><br />
    <textarea rows="4" width=25% cols="40" placeholder="Insert news here"></textarea><br />
    <button type="submit">Post</button>
</form>