
@{
    ViewBag.Title = "Note";
}
<style>

    .mytable {
        display: table;
        width: 40%;
    }

        .mytable p {
            display: table-cell;
        }

    .container label {
        width: 20%;
    }
</style>
<div class="student">
    <h2>Note(student view)</h2>
    <table class="mytable">
        <tr>
            <th>Materie</th>
            <th>Nota</th>
            <th>Link</th>
        </tr>
        <tr></tr>
        <tr>
            <th>Materie 1</th>
            <th>X</th>
            <th><a href="https://www.google.com">Here</a></th>
        </tr>
        <tr>
            <th>Materie 2</th>
            <th>X</th>
            <th><a href="https://www.google.com">Here</a></th>
        </tr>
    </table>
</div>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
    List<WADLAB4.Models.Note> grade = db.Grades.ToList();
}

<div class="prof">
    <h2>Note(Teacher view)</h2>
    <h3>Materie :</h3>
    <select class="button">
        <option value="m1">Materie 1</option>
        <option value="m2">Materie 2</option>
        <option value="mx">Materie x</option>
    </select>

    <table class="mytable">
        @foreach (var grd in grade)
        {
            <tr>
                <th> @grd.Id</th>

                <th>@grd.Student</th>

                <th>@grd.Materie</th>

                <th> @grd.Calificativ</th>

            </tr>
        }
    </table>

    <table class="mytable">
        <tr>
            <th>Nume Student</th>
            <th>Nota</th>
            <th>Link</th>
        </tr>
        <tr>
            <th>Stud 1</th>
            <th>X</th>
            <th><a href="https://www.google.com">Here</a></th>
        </tr>
        <tr>
            <th>Stud 2</th>
            <th>X</th>
            <th><a href="https://www.google.com">Here</a></th>
        </tr>
    </table>
    <h2>Introduceti Studentul si nota acestuia</h2><br /><br />
    <div class="container">
        <form id="Nota">
            <p>
                <label>CNP Student: </label><input type="text" id="cnp" /> <br />
            </p>
            <p>
                <label>Materia: </label><input type="text" id="materie" /><br />
            </p>
            <p>
                <label>Nota: </label><input type="number" min="1" max="10" id="nota" /><br />
            </p>
            <button type="submit" value="Submit">Upload nota student</button><br />
        </form>

    </div>
</div>
