
@{
    ViewBag.Title = "Restante";
}

<style>
	.restante {
		display: table;
		width: 100%;
	}
	.restante p {
		display: table-row;
	}
	.restante label {
		display: table-cell;
		text-align: center;
	}
	#cell {
		display: table-cell;
	}
    .mytable {
        width: 80%;
    }
</style>

<h2>Restante(student view)</h2>
<div class="restante">
	<p>
		<label>Anul 1</label> <br />
		<div id="cell" class="btn btn-default">
			<div>
				Materie 1: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 2: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 3: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 4: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
			</div>
		</div>
	</p>
	&nbsp;
	<p>
		<label>Anul 2</label> <br />
		<div id="cell" class="btn btn-default">
			<div>
				Materie 1: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 2: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 3: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 4: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
			</div>
		</div>
	</p>
	&nbsp;
	<p>
		<label>Anul 3</label> <br />
		<div id="cell" class="btn btn-default">
			<div>
				Materie 1: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 2: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 3: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 4: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
			</div>
		</div>
	</p>
	&nbsp;
	<p>
		<label>Anul 4</label> <br />
		<div id="cell" class="btn btn-default">
			<div>
				Materie 1: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 2: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 3: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
				Materie 4: NOTAX <a href="https://www.google.com">Link catre curs</a><br />
			</div>
		</div>
	</p>
	&nbsp;
</div>

<h2>Restante(teacher view)</h2>
<div class="restante-prof">
    <h3>Materie: </h3>
    <select class="button">
        <option value="m1">Materie 1</option>
        <option value="m2">Materie 2</option>
        <option value="etc">Etc</option>
    </select>

    <table class="mytable">
        <tr>
            <th>Nume Student</th>
            <th>Nota</th>
            <th>Data exam</th>
        </tr>
        <tr>
            <th>Stud 1</th>
            <th>2</th>
            <th>12.03.2017</th>
        </tr>
        <tr>
            <th>Stud 2</th>
            <th>Abs.</th>
            <th>12.12.2012</th>
        </tr>
    </table>

</div>