
@{
    ViewBag.Title = "Restante";
}

<style>
	.restante {
		display: table;
		width: 100%;
	}
	.restante p {
		display: table-row;
	}
	.restante label {
		display: table-cell;
		text-align: center;
	}
	#cell {
		display: table-cell;
	}
    .mytable {
        width: 80%;
    }
</style>

@{ 
    var db = WADLAB4.Models.ApplicationDbContext.Create();
}

<h2>Restante(student view)</h2>
<div class="restante">
    @{ 
        //var eu = db.Student.Where(m => m.id == myid);
        //List<WADLAB4.Models.Nota> notelemele = db.Note.Where(m => m.student == eu.Nume);
        /*
        <p>
            <div id="cell" class="btn btn-default">
                @{ 
                    foreach(var nota in notelemele)
                    {
                        <label>@nota.Materie : @nota.Calificativ</label><br />
                    }
                }
            </div>
        </p>
        */
        List<WADLAB4.Models.Nota> note = db.Note.Where(m => m.Calificativ < 5).ToList();
        <p>
            <div id="cell" class="btn btn-default">
                @{ 
                    foreach(var nota in note)
                    {
                        <label>@nota.Materie : @nota.Calificativ</label><br />
                    }
                }
            </div>
        </p>
    }
</div>

<h2>Restante(teacher view)</h2>
<div class="restante-prof">
    <h3>Materie: </h3>
    <select class="button">
        <option value="m1">Materie 1</option>
        <option value="m2">Materie 2</option>
        <option value="etc">Etc</option>
    </select>

    <table class="mytable">
        <tr>
            <th>Nume Student</th>
            <th>Nota</th>
            <th>Data exam</th>
        </tr>
        <tr>
            <th>Stud 1</th>
            <th>2</th>
            <th>12.03.2017</th>
        </tr>
        <tr>
            <th>Stud 2</th>
            <th>Abs.</th>
            <th>12.12.2012</th>
        </tr>
    </table>

</div>