
@{
    ViewBag.Title = "Studenti";
}

<style>
    .mytable {
        width: 100%;
    }
</style>


<h2>Studenti</h2>
<h3>Specializare:</h3>
<select class="button">
    <option value="s1">Spec 1</option>
    <option value="s2">Spec 2</option>
    <option value="sx">Spec x</option>
</select>

<h3>Anul I</h3>
<table class="mytable">
    <tr>
        <th>Nume Student</th>
        <th>CNP</th>
        <th>Forma Invatamant</th>
    </tr>
    <tr>
        <th>Stud 1</th>
        <th>X</th>
        <th>Buget</th>
    </tr>
    <tr>
        <th>Stud 2</th>
        <th>X</th>
        <th>Taxa</th>
    </tr>
</table>

<h3>Anul II</h3>
<table class="mytable">
    <tr>
        <th>Nume Student</th>
        <th>CNP</th>
        <th>Forma Invatamant</th>
    </tr>
    <tr>
        <th>Stud 1</th>
        <th>X</th>
        <th>Buget</th>
    </tr>
    <tr>
        <th>Stud 2</th>
        <th>X</th>
        <th>Taxa</th>
    </tr>
</table>

<h3>Anul III</h3>
<table class="mytable">
    <tr>
        <th>Nume Student</th>
        <th>CNP</th>
        <th>Forma Invatamant</th>
    </tr>
    <tr>
        <th>Stud 1</th>
        <th>X</th>
        <th>Buget</th>
    </tr>
    <tr>
        <th>Stud 2</th>
        <th>X</th>
        <th>Taxa</th>
    </tr>
</table>

<h3>Anul IV</h3>
<table class="mytable">
    <tr>
        <th>Nume Student</th>
        <th>CNP</th>
        <th>Forma Invatamant</th>
    </tr>
    <tr>
        <th>Stud 1</th>
        <th>X</th>
        <th>Buget</th>
    </tr>
    <tr>
        <th>Stud 2</th>
        <th>X</th>
        <th>Taxa</th>
    </tr>
</table>